@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}
.banner {
  background: linear-gradient(
      180deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .hero {
  width: 800px;
}
.banner .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}
.banner .tens {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 54px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}
.banner .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
